<!DOCTYPE HTML >
<html lang="en">
<head>
<meta charset="utf-8">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/angular-cookies.js"></script>
<title>WEBFORGE TECHNOLOGIES</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<script src="js/angular-cookies.js"></script> 
		 <script type= "text/javascript" src="js/app.js"></script>
		
    <!-- Bootstrap -->

		<!--build:js js/main.min.css -->
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/color/default.css" rel="stylesheet">
		<!-- endbuild -->

<!--[if lt IE 7]>
            <link href="css/font-awesome-ie7.css" type="text/css" rel="stylesheet">
        <![endif]-->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<!-- Favicon -->
<link rel="shortcut icon"   href="img\e.ico"/>
</head>
<body   ng-app="myApp"   >















<!-- navbar -->
<div class="navbar-wrapper" ng-controller="AdminCtrEmp"   >
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container"   >
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand"><img src="img\logo-w.png" width="140px"></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
				<p  id="menu-main" class="nav">




				<ul id="menu-main" class="nav">
					<li><h1>Admin &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</h1> </li>
					<li  ng-controller="CtrDeconn" > 

   <button type="button" class=" btn btn-info btn-lg pull-right " ng-click="logout()" >Déconnexion</button></li>

				</ul>


					<p/>
				</nav>
			</div>
		</div>
	</div>
</div>


  <div>
  <section ng-controller="AdminCtrEmp"  >
  <div class="container">
  <hr>
  <button type="button" class=" btn btn-info btn-lg pull-right " data-toggle="modal" data-target="#myModal">Ajouter un employé</button>
  <h2>Les employés</h2>
  <span class="clearfix"></span>
  <hr>

  <div class="alert alert-info" ng-if="Message">
  <a href="#" class="close"   ng-click="clearMessage()">&times;</a>
  {{Message}}.
</div>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>profil</th>
        <th>name</th>
        <th>family_name</th>
		<th>Email</th>
		<th>title</th>
		<th>solde_congé</th>
		
		
		  <th>Edit</th>
		    
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in employes track by  user.id " >
        <td><a style="color:red;" data-toggle="modal" data-target="#myModalEmploye" ng-click="selectEmploye(user)" ><h5>view</h5></a></td >
        <td>{{user.name}}</td>
        <td>{{user.family_name}}</td>
		<td>{{user.email}}</td>
		<td>{{user.title}}</td>
		<td>{{user.leave_balance}}</td>
		
		<td>
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalEdit" ng-click="selectEmploye(user)">Edit</button>
		</td>
		
      </tr>

    </tbody>
  </table>






  </div>


  
  
  
  
    <!-- Modal -->
  <div class="modal hide fade" id="myModalEmploye" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">les informations </h4>
        </div>
        <div class="modal-body">



		  <form class="form-horizontal">
	

  <div class="form-group">
    <label class="control-label col-sm-2" >email:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" style="color:red;" placeholder="{{ClickEmploye.email}}" >
    </div>
  </div>
  
  
  <div class="form-group">
    <label class="control-label col-sm-2" >title:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="{{ClickEmploye.title}}" >
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" >cin:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="{{ClickEmploye.cin}}" >
    </div>
  </div>



  <div class="form-group">
    <label class="control-label col-sm-2" >adresse:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="{{ClickEmploye.adresse}}">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" >phone1:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="{{ClickEmploye.phone1}}">
    </div>
  </div>


 <div class="form-group">
    <label class="control-label col-sm-2" >phone2:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  placeholder="{{ClickEmploye.phone2}}">
    </div>
  </div>


  


  <div class="form-group">
    <label class="control-label col-sm-2" >cnss:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="{{ClickEmploye.cnss}}">
    </div>
  </div>



  
</form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  


  <!-- Modal -->
  <div class="modal hide fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nouveau Employé </h4>
        </div>
        <div class="modal-body">



		  <form class="form-horizontal">
		 
  		 
  <div class="form-group">
    <label class="control-label col-sm-2" >Name:</label>
    <div class="col-sm-10">
      <input type="text"   ng-model="NewEmploye.name">
    </div>
  </div>




    <div class="form-group">
    <label class="control-label col-sm-2" >family-name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  ng-model="NewEmploye.family_name">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" >password:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewEmploye.password">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" >cin:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewEmploye.cin">
    </div>
  </div>



  <div class="form-group">
    <label class="control-label col-sm-2" >date_cin:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewEmploye.date_cin">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" >phone1:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  ng-model="NewEmploye.phone1">
    </div>
  </div>


 <div class="form-group">
    <label class="control-label col-sm-2" >phone2:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  ng-model="NewEmploye.phone2">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" >Email:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewEmploye.email">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" >gender:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewEmploye.gender">
    </div>
  </div>



  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="EnregistrerEmp()" data-dismiss="modal" >Enregistrer</button>
    </div>
  </div>
</form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>










  <!-- Modal -->
  <div class="modal hide fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edité cet Employé </h4>
        </div>
        <div class="modal-body">



		  <form class="form-horizontal">
		  
		  
		 

		  
		
		  
  <div class="form-group">
    <label class="control-label col-sm-2" >name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="clickemploye.name" placeholder="{{ClickEmploye.name}}">
    </div>
  </div>


  <div class="form-group">
    <label class="control-label col-sm-2" >Email:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="clickemploye.Email" placeholder="{{ClickEmploye.email}}" >
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="UpdateUser(ClickEmploye.id)" data-dismiss="modal">Enregistrer</button>
    </div>
  </div>
</form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>





 



  </section>

</div>


<br/>
<br/>
<br/>
<br/>

<div class="container" ng-controller="myCtrConge as con"  >
  <hr>
  <h2>Les demandes de congés</h2>
  <span class="clearfix"></span>
  <hr>
    <div class="alert alert-info" ng-if="message">
  <a href="#" class="close"   ng-click="clearMessage()">&times;</a>
  {{message}}.
</div>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
		<th>name</th>
		<th>jours</th>
        <th>début</th>
		  <th>fin</th>
		  <th>status</th>

		  <th>Accepter</th>
		    <th>Refuser</th>
			 

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="conge in Conges1 track by  conge.id  " >
        <td  >{{conge.id}}.</td   >
		<td>{{conge.employee.name}}.</td>
		<td>{{conge.days}}.</td>
        <td>{{conge.start_date}}</td>
		 <td>{{conge.end_date}}</td>
		 <td>{{conge.status}}</td>
		
		<td>
		<button type="button" class="btn btn-info"  ng-click="Accepter(conge.id,conge.employee.id)" ng-if="conge.status === 'pending'" >Accepter</button>
		</td>
		<td>
		<button type="button" class="btn btn-danger"  ng-click="Refuser(conge.id,conge.employee.id)" ng-if="conge.status === 'pending'" >Refuser</button>

		</td>
		
		
      </tr>

    </tbody>
  </table>
 

</div>
























<div class="container" ng-controller="myCtrAtt"   >

  
  <hr>
  <h2>Les demandes des documents</h2>
  <span class="clearfix"></span>
  <hr>


   <table class="table table-striped">
    <thead>
      <tr>
        <th>index</th>
        <th>name</th>
		<th>raison</th>
	    <th>légalisée</th>
		<th>status</th>
		<th colspan=2 ><center>Actions</center></th>
		

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="dem in demandes" >
        <td>{{dem.id}}.</td>
        <td>{{dem.employee.name}}</td>
		 <td>{{dem.raison}}</td>
		 <td>{{dem.certified}}</td>
		 <td>{{dem.status}}</td>
		 
		<td>
		<button type="button" class="btn btn-danger"  ng-click="Refuser(dem.DocumentType.id,dem.employee.id)" ng-hide="dem.status==='deleted' || dem.status==='refused'" >Refuser</button>

		</td>
		 <td>
		 <button type="button" class="btn btn-info"  ng-click="Accepter(dem.id,dem.employee.id)" ng-if="dem.status === 'pending'">Accepter</button>
		<button type="button" class="btn btn-info"  ng-click="Being_done(dem.id,dem.employee.id)" ng-if="dem.status === 'validated'" >traiter</button>
	    <button type="button" class="btn btn-danger"  ng-click="Done(dem.id,dem.employee.id)" ng-if="dem.status === 'being_done'" >finir le traitement</button>
		<button type="button" class="btn btn-danger"  ng-click="Delivred(dem.id,dem.employee.id)" ng-if="dem.status === 'done'" >livrer </button>
		
		</td>
		
		

      </tr>

    </tbody>
	
  </table>
  

</div>














<div class="container" ng-controller="Ctrjob"   >
 <hr>
  <button type="button" class=" btn btn-info btn-lg pull-right " data-toggle="modal" data-target="#myModaloffre">Ajouter un offre d'emploi</button>
  <h2>Les offres d'emploi</h2>
  <span class="clearfix"></span>
  <hr>



   <table class="table table-striped">
    <thead>
      <tr>
        <th>index</th>
        <th>titre</th>
		<th>description</th>
	    <th>supprimer</th>
		
		

      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="job in JOB" >
        <td>{{job.id}}.</td>
        <td>{{job.title}}</td>
		 <td>{{job.description}}</td> 
		<td>
		<button type="button" class="btn btn-danger"  ng-click="SuppOFFRE(job.id)"  >Supprimer</button>

		</td>
		 
		
		

      </tr>

    </tbody>
	
  </table>
  </div>
  
  <div class="modal fade" id="myModaloffre" role="dialog" ng-controller="Ctrjob">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">ajouter un offre</h4>
        </div>
        <div class="modal-body">



		  <form class="form-horizontal">
		  
		  
		 

		  
		
		  
  <div class="form-group">
    <label class="control-label col-sm-2" >titre:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewJob.title" >
    </div>
  </div>
 <div class="form-group">
    <label class="control-label col-sm-2" >local:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewJob.location"  >
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2" >description:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewJob.description"  >
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-2" >email:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewJob.email"  >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" >status:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="NewJob.status"  >
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" ng-click="AjoutOFFRE()" data-dismiss="modal">Enregistrer</button>
    </div>
  </div>
</form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>



</div>


<br> <br> <br>
  
  
  
  
  








<!--build:js js/dependencies.min.js -->
	<script src="js/dep/jquery.js"></script>
	<script src="js/dep/jquery.scrollTo.js"></script>
	<script src="js/dep/jquery.nav.js"></script>
	<script src="js/dep/jquery.localscroll-1.2.7-min.js"></script>
	<script src="js/dep/bootstrap.js"></script>
	<script src="js/dep/jquery.prettyPhoto.js"></script>
	<script src="js/dep/isotope.js"></script>
	<script src="js/dep/jquery.flexslider.js"></script>
	<script src="js/dep/inview.js"></script>
	<script src="js/dep/animate.js"></script>
	<script src="js/dep/validate.js"></script>
	<script src="js/dep/custom.js"></script>
<!-- endbuild -->




</body>
</html>
