<!DOCTYPE html>
<html lang="fran">
  <head>
<meta charset="utf-8">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/angular-cookies.js"></script>
<title>WEBFORGE TECHNOLOGIES</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<script src="js/angular-cookies.js"></script> 
		 <script type= "text/javascript" src="js/app1.js"></script>
		
    <!-- Bootstrap -->

		<!--build:js js/main.min.css -->
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/color/default.css" rel="stylesheet">
		<!-- endbuild -->

<!--[if lt IE 7]>
            <link href="css/font-awesome-ie7.css" type="text/css" rel="stylesheet">
        <![endif]-->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<!-- Favicon -->
<link rel="shortcut icon"   href="img\e.ico"/>
</head>
  <body ng-app="myApp"  ng-show="!$rootScope.login">

<div class="navbar-wrapper"  >
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container"  >
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand"><img src="img\logo-w.png" width="140px"></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse">
				<p  id="menu-main" class="nav">




				<ul id="menu-main" class="nav">
					<li><h1>Employé &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</h1> </li>
					<li  ng-controller="CtrDeconn" > 

    <button type="button" class=" btn btn-info btn-lg pull-right " ng-click="logout()" >Déconnexion</button></li>

				</ul>


					<p/>
				</nav>
			</div>
		</div>
	</div>
</div>

<div>
  
  <section ng-controller="myController">
 
  <div class="container">
  <hr>
  <br>
   <button type="button" class=" btn btn-info btn-lg pull-left " data-toggle="modal" data-target="#myModalEdit">Modifier mes données</button>
   <br/>
    <br>
  <hr>
  
  <button type="button" class=" btn btn-info btn-lg pull-right " data-toggle="modal" data-target="#myModal">Demande de congés</button>
  <h2>Gestion de vos congés</h2>
  <span class="clearfix"></span>
  <hr>
  
  <div class="alert alert-info" ng-if="message">
  <a href="#" class="close"   ng-click="clearMessage()">&times;</a>
  {{message}}.
</div>
  
   <table class="table table-striped">
    <thead>
      <tr>
        <th>index</th>
        <th>jours</th>
		  <th>début</th>
		    <th>fin</th>
			 <th>status</th>
			 <th>supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="conge in Conges track by $index" >
        <td>{{$index+1}}.</td>
        
        <td >{{conge.days}}</td>
		<td>{{conge.start_date}}</td>
		<td>{{conge.end_date}}</td>
		<td  ng-modal="tt">{{conge.status}}</td>
		
		<td>
		<button type="button" class="btn btn-danger"  ng-disabled=" tt !== pending " ng-click="Supprimer(conge.id)"  ng-if="conge.status ==='pending'">Supprimer</button>

		</td>
      </tr>
      
    </tbody>
  </table>
  
  
  
  
  
  
  </div>
  
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="myModalEdit" role="dialog" ng-controller="CtrAjtInf">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ajouter des informations </h4>
        </div>
        <div class="modal-body">
          
		 
		  
		  <form class="form-horizontal" action="/action_page.php">
		  
		  <br/> <br/> <h2>Entrer les informations <h2/> <br/>
		  <br/>
		  
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">photo:</label>
      <div class="col-sm-10">
         <input type="FILE" class="form-control"  ng-model="NewInf.photo">
      </div>
	  <div> <br/></div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="email">adresse:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="NewInf.adresse" >
      </div>
    </div>
	<div> <br/></div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="email"> date_cin:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="NewInf.date_cin">
        
      </div>
    </div>
	<div> <br/></div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="email"> password:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="NewInf.password">
        
      </div>
    </div>
	<br/>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
	  
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <button type="submit" class="btn btn-default"  ng-click="enregistrerInf()" data-dismiss="modal" >Valider</button>
      </div>
    </div>
  </form>
		
		  
		  
		  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  
  
  
  
  
   

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Demande de congé </h4>
        </div>
        <div class="modal-body">
		
		  <form class="form-horizontal" >
		   <p style="color:red;">&nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp votre solde de congé est: {{solde}}</p>
		  
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">days:</label>
      <div >
         <input type="text" class="form-control"  ng-model="NewConge.days">
      </div>
	  <div> <br/></div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="email">start:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="NewConge.start_date" >
      </div>
    </div>
	<div> <br/></div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="email"> end:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control"  ng-model="NewConge.end_date">
      </div>
    </div>
	<br/>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
	  
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <button type="submit" class="btn btn-default"  ng-click="enregistrer()" data-dismiss="modal" >Valider</button>
      </div>
    </div>
  </form>
		
		  
		  
		  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </br>
   </br>
    </br>
	<div  ng-controller="myCtrAttestation">
  <div class="container"  >
  <hr>
  <button type="button" class=" btn btn-info btn-lg pull-right "   ng-click=" check()">Demande d'un document</button>
 
     <h2>Demande d'un document </h2>
  <span class="clearfix"></span>
  <hr>
  <div class="alert alert-info" ng-if="message">
  <a href="#" class="close"   ng-click="clearMessage()">&times;</a>
  {{message}}.
</div>

  <div  ng-show="myVar">
  <hr>
<table class="table table-striped" >
    <thead>
      <tr>
        <th>id</th>
		<th>name</th>
		<th>label</th>
		<th>active</th>
		<th>choisir</th>
		    
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="attes in Typedoc track by $index" >
        <td>{{attes.id}}.</td>
        
        <td >{{attes.name}}</td>
		<td >{{attes.label}}</td>
		<td >{{attes.active}}</td>
		
		
		<td>
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal1"   ng-click="Selectdoc(attes)" >Demander</button>
		

		</td>
      </tr>
      
    </tbody>
  </table>  
  
  </div>
  <br/>
  <h2>Gestion de vos documents  </h2>
  <span class="clearfix"></span>
  <br/>
<table class="table table-striped" >
    <thead>
      <tr>
        <th>id</th>
		<th>type</th>
		<th>status</th>
		<th>supprimer</th>
		
		    
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="doc in Attes track by $index" >
        <td>{{doc.id}}</td>
        
        <td >{{doc.DocumentType.name}}</td>
		<td >{{doc.status}}</td>
		<td>
		<button type="button" class="btn btn-danger"    ng-click="Supprimer(doc.id)" ng-if="doc.status === 'pending'" >Supprimer</button>
		</td>
      </tr>
      
    </tbody>
  </table> 
  
  
  </div>
  
 
  
 
  
  <div class="modal fade" id="myModal1" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Demande d'un document</h4>
        </div>
        <div class="modal-body">
          
		 
		  
		  <form class="form-horizontal" action="/action_page.php">
  
		 
		 
	
	
	
	
	
	<div class="form-group">
      <label class="control-label col-sm-2" for="email">raison:</label>
      <div class="col-sm-10">
         <input type="text" class="form-control"  ng-model="NewAttes.raison">
      </div>
	  <div> <br/></div>
    </div>
	
	
	
	
	
	<div class="form-group">
      <label class="control-label col-sm-2" for="email">certified:</label>
      <div class="col-sm-10">
         <input type="text" class="form-control"  ng-model="NewAttes.certified">
      </div>
	  <div> <br/></div>
    </div>
	
	
	<br/>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
	  
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <button type="submit" class="btn btn-default"  ng-click="Demander()" data-dismiss="modal" >Valider</button>
      </div>
    </div>
  </form>
		
		  
		  
		  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  </div>
  <br> <br> <br>
  
   <hr>
   
  
  
  
  
  
 
  
  
  </section>
  </div>
  
  
  <script src="js/dep/jquery.js"></script>
	<script src="js/dep/jquery.scrollTo.js"></script>
	<script src="js/dep/jquery.nav.js"></script>
	<script src="js/dep/jquery.localscroll-1.2.7-min.js"></script>
	<script src="js/dep/bootstrap.js"></script>
	<script src="js/dep/jquery.prettyPhoto.js"></script>
	<script src="js/dep/isotope.js"></script>
	<script src="js/dep/jquery.flexslider.js"></script>
	<script src="js/dep/inview.js"></script>
	<script src="js/dep/animate.js"></script>
	<script src="js/dep/validate.js"></script>
	<script src="js/dep/custom.js"></script>
  

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--script src="js/bootstrap.min.js"></script-->
	<script src="js/dep/bootstrap.js"></script>
  </body>
<!-- </html> -->